
        
        
        
        
        
        <section id ="content">
			<aside id="recherche">
		<form>
		  <label> Rechercher</label>
		  <input type="search" id="search" size="15" />
		  <input type="button" value = "Ok" />
		</form>
		</aside>
		</section>
		<section id ="content">
			<form  id="inscription" method="post" action="compte.html"> 
			   <fieldset>
			   <legend> 1 NOM & PRENOM </legend>
			   <div class="input-field">
			   <label for="nom"> Nom 
			   <input type="text" name="nom" id="nom" /></label>
			   <label for="prenom"> Prénom 
			   <input type="text" name="prenom" id="prenom" /></label>
			    </div>
			   </fieldset>
			   <fieldset>
			   <legend>  2 Email et téléphone </legend>
			   <div class="input-field">
			   <label for="email"> Email 
			   <input type="email" name="email" id="email" /> </label>
			   <label for="tel"> Tél 
			   <input type="tel" name="tel" id="tel" /> </label>
			   </div>
			   </fieldset>
			   <fieldset>
				<legend> 3 Mot de Passe </legend>
				<div class="input-field">	
			   <label for="pwd"> Mot de passe 
			   <input type="password" name="pwd" id="pwd" /> </label>
			   <label for="pwd"> Confirmez le mot de passe 
			   <input type="password" name="pwdcopy" id="pwdcopy" /></label>
			   </div>
			   </fieldset>
			   <fieldset>
			   <input type="submit" value="Inscription" id="btn" onclick="inscription()"/>
			   </fieldset>
			   </form> 
		   </section>
		   
</div>


<footer id="footer">
    <p>© COPYRIGHT 2020 - Tous Droits Réservés
      All Rights Reserved ,ESSAID RAFIKI ABOUSITRE</p>
  </footer>