{%extends 'shop/base.html'%}
{% block title %}Produits{% endblock %}
{% load static %}

{% block content %}
          <div class="row">
               {% for product in product_objects %}
               <div class="col-md-3">
                    <div class="card">
                         <img src="{{product.image}}" class="card-img-top">
                         <div class="card-body">
                              <div id="nm{{product.id}}" class="card-title">
                                   {{ product.title }}
                              </div>
                              <div class="card-text">
                                   {{ product.price }}Dh
                              </div>
                              <a href="/{{product.id}}" class="btn btn-warning">View</a>

                              <input type="hidden" class="product-price-{{product.id}}" value="{{product.price}}" />
                              <input type="hidden" class="product-qty-{{product.id}}" id="productQty" type="text" value="1" />
                              <input type="hidden" class="product-image-{{product.id}}" value="{{product.image.url}}" />
                              <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
		                    <input type="hidden" class="product-title-{{product.id}}" value="{{product.title}}" />
                              <button data-index="{{product.id}}"  class="btn btn-warning add-to-cart">add to cart</button>
                         </div>
                    </div>
               </div>
                {% endfor %} 
          </div>

          <div class="row">
               <div class="col-md-3 offset-md-4">
                    <ul class="pagination">
                      {% if product_objects.has_previous %}
                         <li class="page-item">
                            <a class="page-link" href="?page={{product_objects.previous_page_number}}">Previous</a>
                         </li>
                        {% endif %}
                         <li class="page-item active">
                            <a class ="page-link" href="?product_objects.number}}">Current</a>

                         </li>


                        {% if product_objects.has_next %}
                         <li class="page-item">
                           <a class="page-link" href="?page={{product_objects.next_page_number}}">Next</a>
                         </li>
                        {% endif %}
                        

                    </ul>
               </div>
          </div>
     </div>
 

{%endblock content%}
  